{
  "openapi": "3.0.0",
  "info": {
    "title": "Admin-Management APIs",
    "description": "APIs for the Admins to manage.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.indyauction.net/dev/v1/admin-management"
    }
  ],
  "tags": [
    {
      "name": "Admin management",
      "description": "APIs to manage the Admin"
    }
  ],

  "paths": {
    "/auctions": {
      "get": {
        "tags": [
          "Admin Auction Management"
          
        ],
        "summary": "Listing auction",
        "description": "Listing auction",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Filter by date range, this is the start date",
            "schema": {
              "type": "number"
            },
            "example": 1701082800000
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Filter by date range, this is the end date",
            "schema": {
              "type": "number"
            },
            "example": 1701088200000
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string"
            },
            "example": "Draft"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "If sort is opted",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Sort by key",
            "schema": {
              "type": "string"
            },
            "example": "title"
          },
          {
            "name": "order",
            "in": "query",
            "description": "ascending or descending",
            "schema": {
              "type": "string"
            },
            "example": "ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "ascending or descending",
            "schema": {
              "type": "string"
            },
            "example": "C"
          }

        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved auctions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { 
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "auction_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "number"
                          },
                          "start_date": {
                            "type": "number"
                          },
                          "end_date": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "auction_image": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "extension_type": {
                            "type": "string"
                          },
                          "extension_time": {
                            "type": "string"
                          },
                          "extension_time_between_lots": {
                            "type": "string"
                          },
                          "registration_type": {
                            "type": "string"
                          },
                          "add_buyer_fees": {
                            "type": "string"
                          },
                          "time_zone": {
                            "type": "string"
                          },
                          "make_your_auction_private": {
                            "type": "string"
                          },
                          "passcode": {
                            "type": "string"
                          },
                          "fees": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total_records_found": {
                      "type": "integer"
                    },
                    "total_auctions": {
                      "type": "integer"
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                        "data": [
                          {
                            "auction_id": "A0169",
                            "title": "Auction Event",
                            "start_date": 1701082800000,
                            "end_date": 1701088200000,
                            "status": "Draft",
                            "created_at": "2023-08-31 10:27:57.993000",
                            "auction_image": "",
                            "description": "",
                            "currency": "",
                            "extension_type": "",
                            "extension_time": "",
                            "extension_time_between_lots": "",
                            "registration_type": "",
                            "add_buyer_fees": "",
                            "time_zone": "",
                            "make_your_auction_private": "",
                            "passcode": "",
                            "fees": ""
                          }
                        ],
                        "total_records_found": 1,
                        "total_auctions": 1,
                        "current_page": 1,
                        "total_pages": 1
                      }
                
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "example": "You do not have access to perform this API action"
                      
                    }
                  }    
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/buyers":{
      "get": {
        "tags": [
          "Admin Buyers Management"
          
        ],
        "summary": "Listing Buyers",
        "description": "Listing Buyers",
        "parameters": [
          {
            "name": "sort_key",
            "in": "query",
            "description": "Sort by key",
            "schema": {
              "type": "string"
            },
            "example": "full_name"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "ascending or descending",
            "schema": {
              "type": "string"
            },
            "example": "ascending"
          },
          {
            "name": "page_number",
            "in": "query",
            "description": " page number",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "search",
            "in": "query",
            "description": "search key",
            "schema": {
              "type": "string"
            },
            "example": "C"
          }

        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved auctions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { 
                    "buyers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "email_address": {
                            "type": "number"
                          },
                          "first_name": {
                            "type": "number"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total_buyers": {
                      "type": "integer"
                    },
                    "page_number": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                        "buyers": [
                          {
                            "_id": "6543d8bda6b97ebf494c7424",
                            "email_address": "sthuthi+127@7edge.com",
                            "full_name": "sthuthi "
                          }
                        ],
                        "total_buyers": 1,
                        "page_number": 1,
                        "page_size": 1
                      }
                
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "example": "You do not have access to perform this API action"
                      
                    }
                  }    
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Bearer Token"
      }
    }
  }
}
