{
  "openapi": "3.0.0",
  "info": {
    "title": "Cart-Management APIs",
    "description": "APIs to manage the buyer cart",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.indyauction.net/dev/v1/cart-management"
    }
  ],
  "tags": [
    {
      "name": "Cart Management",
      "description": "APIs to manage the Buyer Cart"
    }
  ],
  
  "paths": {
      "/cart":{
        "get": {
          "tags": ["cart Management"],
          "summary": "listing the all lots in the cart",
          "parameters": [
            {
              "name": "auction_id",
              "in": "query",
              "description": "Fetch details for the provided auction id",
              "schema": {
                "type": "string"
              },
              "example": "65169eee25d90f9a92c12876"
            }
          ],
          "responses": {
            "200": {
              "description": "listing successful",
              "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "_id":{
                                    "type":"string"
                                  },
                                  "auction_id": {
                                    "type": "string"
                                  },
                                  "seller_email":{
                                    "type": "string"
                                  },
                                  "lot_number":{
                                    "type": "integer"
                                  },
                                  "email_address":{
                                    "type":"string"
                                  },
                                  "price": {
                                    "type": "integer"
                                  },
                                  "fees": {
                                    "type": "integer"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "title1":{
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                      "example":{
                        "data":[
                          {
                              "_id": "655c57e0c0ab0e2b81e733d7",
                              "auction_id": "65169eee25d90f9a92c12876",
                              "seller_email": "sthuthi@7edge.com",
                              "lot_number": 1,
                              "email_address": "aishwarya@7edge.com",
                              "price": 50000,
                              "fees": 44,
                              "type": "fixed",
                              "title1": "sthuthi lot 1"
                          }
                      ]
                       
                      }
                    }
                  }
                },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  },
                  "examples": {
                    "example1": {
                      "value": {
                        "message": "You do not have access to perform this API action"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  },
                  "examples": {
                    "example1": {
                      "value": {
                        "message": "Internal server error"
                      }
                    }
                  }
                }
              }
            }
          }
        }
          }
      },
      "components": {
          "securitySchemes": {
            "BearerAuth": {
              "type": "apiKey",
              "name": "Authorization",
              "in": "header",
              "description": "Bearer Token"
            }
          }
        }


  }