{
  "openapi": "3.0.0",
  "info": {
    "title": "Auction Management APIs",
    "description": "Auction APIs to create the API's",
    "contact": {
      "name": "no-reply@indy.auction",
      "email": "no-reply@indy.auction"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.indyauction.net/dev/v1/auctions"
    }
  ],
  "tags": [
    {
        "name": "Auction Management",
        "description": "APIs to manage the auctions list"
    }
  ],
  "paths": {
    "/":{
      "post": {
        "tags": [
          "Auction"
        ],
        "summary": "Auction create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Auction"
            },
            "example": {
              "template_name": "Auction Template 1",
              "extension_time_between_lots": "2m",
              "menu_links": [
                {
                  "title": "Home",
                  "link_url": "https://example.com/home",
                  "dropdown": [
                    {
                      "title": "About Us",
                      "link_url": "https://example.com/about"
                    },
                    {
                      "title": "Contact Us",
                      "link_url": "https://example.com/contact"
                    }
                  ]
                }
              ],
              "logo_image": "https://example.com/logo.png",
              "logo_redirection_url": "https://example.com",
              "title": "Auction Event",
                "auction_image": "https://example.com/auction-image.png",
                "description": "Join our exciting auction event!",
                "currency": "USD",
                "start_date": 1669966800,
                "end_date": 1669966800,
              "note": "asda",
              "extension_type": "Automatic",
              "extension_time": "5 minutes",
              "registration_type": "Open",
              "add_buyer_fees": "10%",
              "faq": [
                {
                  "question": "How do I participate?",
                  "answer": "Register on our website and place bids."
                },
                {
                  "question": "What payment methods are accepted?",
                  "answer": "We accept credit cards and PayPal."
                }
              ],
              "time_zone": "UTC+5:30",
              "terms_and_condition": "By participating, you agree to our terms.",
              "publish_auction_results": true,
              "show_bidder_location_in_bidder_history": true, 
              "make_your_auction_private": true,
              "passcode": "1234",
              "font": {
                "hearder_font": "Arial",
                "body_font": "Helvetica"
              },
              "buttons": {
                "background_color": "#007BFF",
                "text_color": "#FFFFFF"
              },
              "header": {
                "background_color": "#F2F2F2",
                "text_color": "#333333"
              },
              "content_area": {
                "background_color": "#FFFFFF",
                "text_color": "#555555"
              },
              "footer": {
                "background_color": "#333333",
                "text_color": "#FFFFFF"
              },
              "paddle": {
                "background_color": "#FFD700",
                "text_color": "#333333"
              },
              "status": "Active"
            }
            
          }
        }
      },
        "responses": {
          "200":{
            "description": "Success",
            "content": {
              "application/json": {
                "example":{
                  "message": "Auction created successfully",
                  "auctions_id": "A0362"
                }
                }
              }
            },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Validation failed"
                    }
                  },
                  
                  "example4":{
                    "value":{
                      "message":"Invalid request"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Auction"
        ],
        "summary": "Listing auction",
        "description": "Listing auction",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Filter by date range, this is the start date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2023-07-30"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Filter by date range, this is the end date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2023-08-31"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string"
            },
            "example": "Draft"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "If sort is opted",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Sort by key",
            "schema": {
              "type": "string"
            },
            "example": "title"
          },
          {
            "name": "order",
            "in": "query",
            "description": "ascending or descending",
            "schema": {
              "type": "string"
            },
            "example": "ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "ascending or descending",
            "schema": {
              "type": "string"
            },
            "example": "C"
          }

        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved auctions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { 
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "auction_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "start_date": {
                            "type": "string"
                          },
                          "end_date": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "auction_image": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "extension_type": {
                            "type": "string"
                          },
                          "extension_time": {
                            "type": "string"
                          },
                          "extension_time_between_lots": {
                            "type": "string"
                          },
                          "registration_type": {
                            "type": "string"
                          },
                          "add_buyer_fees": {
                            "type": "string"
                          },
                          "time_zone": {
                            "type": "string"
                          },
                          "make_your_auction_private": {
                            "type": "string"
                          },
                          "passcode": {
                            "type": "string"
                          },
                          "fees": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total_records_found": {
                      "type": "integer"
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                        "data": [
                          {
                            "auction_id": "A0169",
                            "title": "Auction Event",
                            "start_date": "2023-08-30 06:46:23",
                            "end_date": "2023-08-31 06:46:23",
                            "status": "Draft",
                            "created_at": "2023-08-31 10:27:57.993000",
                            "auction_image": "",
                            "description": "",
                            "currency": "",
                            "extension_type": "",
                            "extension_time": "",
                            "extension_time_between_lots": "",
                            "registration_type": "",
                            "add_buyer_fees": "",
                            "time_zone": "",
                            "make_your_auction_private": "",
                            "passcode": "",
                            "fees": ""
                          }
                        ],
                        "total_records_found": 1,
                        "current_page": 1,
                        "total_pages": 1
                      }
                
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "example": "You do not have access to perform this API action"
                      
                    }
                  }    
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Auction"
        ],
        "summary": "Delete Note",
        "description": "Delete Note",
        "parameters": [
         
          {
            "name": "auction_id",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string"
            },
            "example": "A0179"
          },
          {
            "name": "del",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string"
            },
            "example": "0"
          }
          

        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note":{
                    "type": "string"
                  }
                }
              },
              "example": {
                "note":"sandhyashri"

              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved auctions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auction"
                },
                "example": {
                        "message": "Query successful"
                      }
                
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "example": "You do not have access to perform this API action"
                      }
                    }
                  }    
                }
              }
            },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/view":{
      "get": {
        "tags": [
          "Auction"
        ],
        "summary": "View auction details",
        "description": "View auction in detail",
        "parameters": [
          {
            "name": "auction_id",
            "in": "query",
            "description": "Fetch details for the provided auction id",
            "schema": {
              "type": "string"
            },
            "example": "A0172"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved auction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { 
                    "data": {
                      "type": "object",
                      "properties": {
                        "auction_id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "start_date": {
                          "type": "string"
                        },
                        "end_date": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "auction_image": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "extension_type": {
                          "type": "string"
                        },
                        "extension_time": {
                          "type": "string"
                        },
                        "extension_time_between_lots": {
                          "type": "string"
                        },
                        "registration_type": {
                          "type": "string"
                        },
                        "add_buyer_fees": {
                          "type": "string"
                        },
                        "time_zone": {
                          "type": "string"
                        },
                        "make_your_auction_private": {
                          "type": "string"
                        },
                        "passcode": {
                          "type": "string"
                        },
                        "fees": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                        "data": {
                            "auction_id": "A0169",
                            "title": "Auction Event",
                            "start_date": "2023-08-30 06:46:23",
                            "end_date": "2023-08-31 06:46:23",
                            "status": "Draft",
                            "created_at": "2023-08-31 10:27:57.993000",
                            "auction_image": "",
                            "description": "",
                            "currency": "",
                            "extension_type": "",
                            "extension_time": "",
                            "extension_time_between_lots": "",
                            "registration_type": "",
                            "add_buyer_fees": "",
                            "time_zone": "",
                            "make_your_auction_private": "",
                            "passcode": "",
                            "fees": ""
                          }
                      }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Please provide auction_id"
                      
                    }
                  }    
                }
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "message": "You do not have access to perform this API action"
                      
                    }
                  }    
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "message": "Auction with associated auction_id doesn't exists"
                      
                    }
                  }    
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "There was an error "
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lots":{
      "post": {
        "tags": [
          "Lots"
        ],
        "summary": "Lots create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Lots"
            },
            "example": {

                "auction_id":"A0012",
                "seller_email":"anusha.k+indyauction@7edge.com",
                "lot_number":" ",
                "starting_bid":2000,
                "current_bid":3000,
                "Top_bidder":"sandhyashri",
                "images":[{"url": "abcdefghijklmnopqrstuvwxyz.com","feature": true }],
                "title1":"ring",
                "title2":"ghj",
                "description":"",
                "starting_price":1999,
                "low_estimate":3000,
                "high_estimate":20000,
                "shipping_details":"Bombay",
                "tags":"jewellery"
              
            }
            
          }
        }
      },
        "responses": {
          "200":{
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "validation failed",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Free users are limited to 10 lots."
                    }
                  },
                  
                  "example2":{
                    "value":{
                      "message":"Starter users are limited to 500 lots."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "No auction with the id found"
                    }
                  }
                  }
                }
              }
            }
          }
        },
      "get": {
      "tags": [
        "Lots"
      ],
      "summary": "Listing lots",
      "description": "Listing lots",
      "parameters": [
        {
          "name": "auction_id",
          "in": "query",
          "description": "to determine the which auction lots to be displayed ",
          "schema": {
            "type": "string"
          },
          "example": "A0012"
        },
        {
          "name": "sort_by",
          "in": "query",
          "description": "Sort by key",
          "schema": {
            "type": "string"
          },
          "example": "title1"
        },
        {
          "name": "sort_order",
          "in": "query",
          "description": "ascending or descending",
          "schema": {
            "type": "string"
          },
          "example": "descending"
        },
        {
          "name": "page",
          "in": "query",
          "description": "Page number",
          "schema": {
            "type": "integer"
          },
          "example": 1
        },
        {
          "name": "per_page",
          "in": "query",
          "description": "per page documents documents",
          "schema": {
            "type": "string"
          },
          "example": "2"
        },
        {
          "name": "search_keyword",
          "in": "query",
          "description": "ascending or descending",
          "schema": {
            "type": "string"
          },
          "example": "eum"
        }

      ],
      "responses": {
        "200": {
          "description": "Successfully retrieved lots",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { 
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "schema": {
                          "$ref": "#/components/schemas/Lots"
                      }
                      }
                    }
                  },
                  "total_records_found": {
                    "type": "integer"
                  },
                  "current_page": {
                    "type": "integer"
                  },
                  "total_pages": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "data": [
                  {

                    "auction_id":"A0012",
                    "seller_email":"anusha.k+indyauction@7edge.com",
                    "lot_number": 0,
                    "lot_title":"platinum diamond ring",
                    "starting_bid":2000,
                    "current_bid":3000,
                    "Top_bidder":"sandhyashri",
                    "images":[{"url": "abcdefghijklmnopqrstuvwxyz.com","feature": true }],
                    "title1":"ring",
                    "title2":"ghj",
                    "description":"",
                    "starting_price":1999,
                    "low_estimate":3000,
                    "high_estimate":20000,
                    "shipping_details":"Bombay",
                    "tags":"jewellery"
                  
                }
                ],
                "total_records_found": 1,
                "current_page": 1,
                "total_pages": 1
              }
              
            }
          }
        },
        "403": {
          "description": "forbidden",
          "content": {
            "application/json": {
              "examples": {
                "example1": {
                  "value": {
                      "example": "You do not have access to perform this API action"
                    
                  }
                }    
              }
            }
          }
        },
        "500": {
          "description": "Internal Server Error",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "example": "Internal server error"
                  }
                }
              }
            }
          }
        }
      }
      },
      "delete": {
        "tags": [
          "Lots"
        ],
        "summary": "delete Lots",
        "description": "delete Lots",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auction_id":{
                    "type": "string"
                  },
                  "seller_email":{
                    "type": "string"
                  },
                  "lot_number":{
                    "type": "integer"
                  }
                }
              },
              "example": {
              "auction_id": "A0012",
              "seller_email": "anusha.k+indyauction@7edge.com",
              "lot_number": 3
             }
             
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved auctions",
            "content": {
              "application/json": {
                "example": {
                        "message": " deleted successfully."
                      }
                
              }
            }
          },
          "404": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "example":{
                          "message":"email not found"
                        }
                      }
                    }
                  }    
                }
              }
            },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Lots"
        ],
        "summary": "update lot",
        "description": "update lot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title1":{
                    "type": "string"
                  },
                  "title2":{
                    "type": "string"
                  },
                  "description":{
                    "type": "string"
                  },
                  "starting_price":{
                    "type": "integer"
                  },
                  "low_estimate":{
                    "type": "integer"
                  },
                  "high_estimate":{
                    "type": "integer"
                  },
                  "shipping_details":{
                    "type": "string"
                  },
                  "tags":{
                    "type":"array",
                    "items":{
                      "type": "object",
                      "properties": {
                        "tags_name":{
                          "type": "string"
                        }
                      }
                    }
                  },
                  "images":{
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "feature": {
                          "type": "boolean"
                        }
                      }
                    }
                  }

                }
              },
              "example": {              
                "auction_id":"A0012",
                "lot_number": 1,
                "images":[{"url": "abcdef","feature": false }],
                "title1":"ring",
                "title2":"ghj",
                "description":"",
                "starting_price":22344,
                "low_estimate":33332,
                "high_estimate":123144,
                "shipping_details":"Bandra",
                "tags":"necklace"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved auctions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "updated successfully"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "example": "You do not have access to perform this API action"
                      }
                    }
                  }    
                }
              }
            },
            "400": {
              "description": "Missing parameters in request body",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "auction_id lot_number and seller_email are required for lot update."
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "lot not found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Lot not found for seller."
                      }
                    }
                  }
                }
              }
            },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/import":{
      "post": {
        "tags": [
          "Lots"
        ],
        "summary": "This API is used to import the lots from csv",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auction_id": {
                    "type": "string"
                  },
                  "csv_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "auction_id",
                  "csv_url"
                ],
                "additionalProperties": false,
                "example": {
                  "csv_url": "https://indy-auction-dev-assets.s3.eu-west-2.amazonaws.com/public/DomainName/Auctions/lots/Importlots.csv",
                  "auction_id": "A0172"
                }
              }
            }
          }
        },
        "responses": {
          "201":{
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Lots imported successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Please provide auction_id"
                    }
                  },    
                  "example2":{
                    "value":{
                      "message":"Upgrade the plan to Import lots"
                    }
                  },    
                  "example3":{
                    "value":{
                      "message":"CSV headers do not match the expected headers."
                    }
                  },    
                  "example4":{
                    "value":{
                      "message":"Invalid data detected in CSV."
                    }
                  },    
                  "example5":{
                    "value":{
                      "message":"Upgrade the plan to import more lots"
                    }
                  },    
                  "example6":{
                    "value":{
                      "message":"Missing mandatory fields."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "example": "You do not have access to perform this API action"
                      
                    }
                  }    
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                        "message": "Auction doesn't exists."
                      
                    }
                  }    
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "There was an error while importing"
                    }
                  }
                }
              }
            }
          }
          
        }
      }
    },
    "/clone":{
      "post": {
        "tags": [
          "Auction"
        ],
        "summary": "Auction cloned",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "auction_id":{
                    "type": "string"
                  }
            },
            "example": {

                "auction_id":"A0172"
              
              }

            }
          }
        }
      },
        "responses": {
          "200":{
            "description": "Success",
            "content": {
              "application/json": {
                "example":{
                  "message": "Auction cloned successfully"
                }
                }
              }
            },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Internal server error"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "forbidden",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "You do not have access to perform this API action"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Auction with ID {auction_id} not found"
                    }
                  }
                  }
                }
              }
            }
          }
        } 
    }
},
  "components": {
    "schemas": {
      "Auction": {
        "type": "object",
        "properties": {
          "seller_email":{
            "type": "string"
          },
          "auction_id":{
            "type": "string"
          },
          "template_name":{
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "menu_links":{
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "link_url": {
                  "type": "string"
                },
                "dropdown": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title" :{
                        "type": "string"
                      },
                      "link_url": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "logo_image":{
            "type": "string"
          },
          "logo_redirection_url":{
            "type": "string"
          },
          "title":{
            "type": "string"
          },
          "auction_image":{
            "type": "string"
          },
          "description":{
            "type": "string"
          },
          "currency":{
            "type": "string"
          },
          "start_date":{
            "type": "number"
          },
          "end_date":{
            "type": "number"
          },
          "extension_type":{
            "type": "string"
          },
          "extension_time":{
            "type": "string"
          },
          "extension_time_between_lots": {
            "type": "string"
          },
          "registration_type":{
            "type": "string"
          },
          "add_buyer_fees":{
            "type": "number"
          },
          "time_zone" :{
            "type": "string"
          },
          "faq":{
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              }
            }
          },
          "terms_and_condition":{
            "type": "string"
          },
          "publish_auction_result":{
            "type": "boolean"
          },
          "show_bidder_location_in_bidder_history":{
            "type": "boolean"
          },
          "make_your_auction_private":{
            "type": "boolean"
          },
          "passcode":{
            "type": "string"
          },
          "font":{
            "type": "object"
          },
          "button":{
            "type": "object"
          },
          "header":{
            "type": "object"
          },
          "content_area":{
            "type": "object"
          },
          "footer":{
            "type": "object"
          },
          "paddle":{
            "type": "object"
          },
          "status":{
            "type": "string"
          }
      }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
    "Lots":{
      "type": "object",
      "properties": {
        "auction_id":{
          "type": "string"
        },
        "seller_email":{
          "type": "string"
        },
        "lot_number":{
          "type":"integer"
        },
        "lot_title":{
          "type":"string"
        },
        "starting_bid":{
          "type":"integer"
        },
        "current_bid":{
          "type":"integer"
        },
        "Top_bidder":{
          "type":"string"
        },
        "images":{
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "feature": {
                "type": "boolean"
              }
            }
          }
        },
        "title1":{
          "type":"string"
        },
        "title2":{
          "type":"string"
        },
        "description":{
          "type":"string"
        },
        "starting_price":{
          "type":"integer"
        },
        "low_estimate":{
          "type":"integer"
        },
        "high_estimate":{
          "type":"integer"
        },
        "shipping_details":{
          "type":"string"
        },
        "tags":{
          "type":"array",
          "items":{
            "type": "object",
            "properties": {
              "tags_name":{
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
    "securitySchemes": {
      "BearerAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Bearer Token"
      }
    }
  }
}
