openpyxl
beautifulsoup4
boto3
bs4
contextlib2
crypto
python-dateutil
deep-translator
setuptools
dnspython
h2
h11
hpack
hstspreload
httpcore
hyperframe
idna
jmespath
jwt
passlib
pdfkit
types-pkg-resources
pycparser
pycryptodome
PyJWT
pypng
qrcode
requests
s3transfer
schema
semantic-version
shared
sniffio
soupsieve
stripe
typing-extensions
wkhtmltopdf
pymongo
marshmallow
bcrypt
openpyxl
urllib3
httpx
googletrans
chardet

