{
    "openapi": "3.0.0",
    "info": {
      "termsOfService": "https://deeplay.com/terms-of-service",
      "description": "Deeplay API Documentation (Admin Application)",
      "title": "Deeplay APIs",
      "contact": {
        "name": "Sandhyashri",
        "email": "sandhyashri@7edge.com"
      },
      "license": {
        "name": "Proprietary"
      },
      "version": "1.0"
    },
    "servers": [
      {
        "url": "https://apis.deeplay.co/dev/v1/",
        "description": "Test Server"
      }
    ],
    "paths": {
      "/{email}": {
        "get": {
          "tags": [
            "Customers"
          ],
          "summary": "View user information",
          "parameters": [
            {
              "required": true,
              "name": "email",
              "in": "path",
              "description": "get user by email",
              "schema": {
                "type": "string"
              },
              "example": "zeeshan.anwar+c@7edge.com"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "child_first_name": {
                          "type": "string"
                        },
                        "child_last_name": {
                          "type": "string"
                        },
                        "child_age": {
                          "type": "number"
                        },
                        "parent_first_name": {
                          "type": "string"
                        },
                        "parent_last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "country": {
                            "type": "string"
                          },
                          "password": {
                            "type": "string"
                          }
                      }
                    }
                  },
                  "example":{
                      "data": [ {
                        "_id": "647efd7aa00eb07ff85b2c6d",
                        "child_first_name": "jdh",
                        "child_last_name": "chdh",
                        "child_age": 4,
                        "parent_first_name": "dfhhda",
                        "parent_last_name": "sdjdh",
                        "email": "sandhyasshri+89@7edge.com",
                        "country": "India",
                        "password": "34567dusk"
                      }]
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "404": {
                "description": "view user",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
          }
        },
        "patch":{
          "tags": [
            "Customers"
          ],
          "summary": "Update user information",
          "parameters": [
            {
              "name": "email",
              "in": "path",
              "description": "Update user information",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "sandhyasshri+89@7edge.com"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parent_first_name":{
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "parent_first_name":"qxyz"

                }
              }
            }
          },
          "responses": {
            "204": {
              "description": "No Content"
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "message": "Please pass atleast one field"
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "BearerAuth": []
            }
          ]
        }
      },
      "/send_otp/{email}": {
        "get": {
          "tags": [
            "Customers"
          ],
          "summary": "User send password reset OTP",
          "parameters": [
            {
              "required": true,
              "name": "email",
              "in": "path",
              "description": "request password by providing email",
              "schema": {
                "type": "string"
              },
              "example": "anusha.k+admin1@7edge.com"
            }
          ],
          "responses": {
            "200": {
              "description": "OTP has been sent successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      },
                      "session":{
                        "type": "string"
                      }
                    },
                    "example": {
                      "message": "OTP sent successfully",
                      "session":"asdacascacdvdsvdvadsvada"
                    }
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "404": {
                "description": "User not found",
                "content": {
                  "application/json": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "message": "User Not Found"
                      }
                    }
                  }
                }
              },
            "500": {
            "description": "Internal Server Error",
            "content": {
                "application/json": {
                "schema": {
                    "type": "object",
                    "properties": {
                    "message": {
                        "type": "string"
                    }
                    },
                    "example": {
                    "message": "There was an error sending OTP"
                    }
                }
                }
            }
            }
          }
        }
      },
      "/verify_otp": {
        "post": {

          "tags": [
            "Customers"
          ],
          "summary": "Verify User OTP",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "integer"
                    },
                    "session": {
                      "type": "string"
                    }
                  },
                  "required": ["otp", "session"]
                },
                "example": {
                  "otp": 567890,
                  "session": "adakjdajdnajbdkabdkandadnsacasbckajcnkacajbcjsabck"
                }
              }
            }
          },
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "responses": {
            "204": {
              "description": "No Content"
            },
            "400": {
              "description": "Invalid request payload",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  },
                  "examples": {
                    "example1": {
                      "value": {
                        "message": "Please pass valid OTP"
                      }
                    },
                    "example2": {
                      "value": {
                        "message": "Missing mandatory fields"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example":{
                        "message": "You are not authorized to perform this API action"
                      }
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example":{
                        "message": "There was an error while verifying OTP"
                      }
                  }
                }
              }
            }
          }
        }
      },
      "/update_password/{email}":{
        
        "patch":{
          "summary": "Update Password",
          "tags": [
            "Customers"
          ],
          "parameters": [
            {
              "name": "email",
              "in": "path",
              "description": "users email adress",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "sandhyashri+c@7edge.com"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "password":{
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "password": "Sandhya890"

                }
              }
            }
          },
          "responses": {
            "204": {
              "description": "Password Updated successfully"
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  },
                  "examples": {
                    "example1": {
                      "value": {
                        "message": "Missing field - 'password'"
                      }
                    },
                    "example2": {
                      "value": {
                        "message": "Password must be 6-16 characters"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example":{
                      "message": "There was an error updating the password"
                    }
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example":{
                      "message": "You do not have access to this API action"
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example":{
                      "message": "Invalid or Unregistered email_address"
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "BearerAuth": []
            }
          ]
        }
      },
      "/scan": {
        "post": {
          "tags": [
            "Customers"
          ],
          "summary": "Scan the QR Code",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example":{
                 "activation_code": "FRE0000000000005",
                 "email": "anusha.k+test1@7edge.com"
              }
              }
            }
          },
          "responses": {
            "200": {
              "description": "successfully scanned",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      },
                      "language": {
                        "type": "string"
                      }
                    },
                    "example":{
                      "message": "QR Code scanned successfully",
                      "language": "French"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request payload",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example":{
                      "message": "Please pass QR code ID"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example":{
                      "message":"Code is invalid, give it another try"
                    }
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "QR Code Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "message": "QR Code not found"
                    }
                  }
                }
              }
            },
            "409": {
              "description": "QR Code already registered",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    },
                    "example": {
                      "message": "Code is already registered try with another one"
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "users": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "child_first_name": {
              "type": "string"
            },
            "child_last_name": {
              "type": "string"
            },
            "child_age": {
              "type": "number"
            },
            "parent_first_name": {
              "type": "string"
            },
            "parent_last_name": {
              "type": "string"
            },
            "email": {
              "type": "string"
            },
            "country": {
                "type": "string"
              },
              "password": {
                "type": "string"
              }
          }
        },
        "Error": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string"
            }
          }
        }
      },
      "securitySchemes": {
        "BearerAuth": {
          "type": "apiKey",
          "name": "Authorization",
          "in": "header",
          "description": "Bearer Token"
        }
      }
    }
  }
  