{
  "openapi": "3.0.0",
  "info": {
    "title": "Address-Management APIs",
    "description": "APIs to manage Address for the Buyers",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.indyauction.net/dev/v1/address-management"
    }
  ],
  "tags": [
    {
      "name": "Address management",
      "description": "APIs to manage the address"
    }
  ],

  "paths": {
    "/address": {
      "get": {
        "tags": ["Address management"],
        "summary": "listing the all address",
        "parameters": [
          {
            "required": false,
            "name": "type",
            "in": "query",
            "description": "Type of address to list",
            "schema": {
              "type": "string"
            },
            "example": "billing"
          }
        ],
        "responses": {
          "200": {
            "description": "listing addresses",
            "content": {
              "application/json ": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "address_line1": {
                            "type": "string"
                          },
                          "address_line2": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "email_address": {
                            "type": "string"
                          },
                          "default": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": [
                    {
                      "_id": "6554be79645bd9762a7d8b51",
                      "address_line1": "202",
                      "first_name": "",
                      "last_name": "",
                      "address_line2": "gulmohar",
                      "state": "anda",
                      "country": "usa",
                      "postal_code": "000000",
                      "city": "anti",
                      "type": "billing",
                      "email_address": "shrinit.poojary+5645@7edge.com",
                      "default": false
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json ": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "You do not have access to perform this API action"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json ": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "No addresses found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "There was an error getting addresses"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Address management"],
        "summary": "updating the default address",
        "parameters": [
          {
            "required": false,
            "name": "address_id",
            "in": "query",
            "description": "Get authentication parameters",
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "plan": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "type": "billing"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Address updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json ": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "please provide the address_id."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json ": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "You do not have access to perform this API action"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "Address with given address_id not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "There was an error while updating the address"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Address management"],
        "summary": "add address",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "address_line1": {
                    "type": "string"
                  },
                  "address_line2": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "first_name": "",
                "last_name": "",
                "address_line1": "410",
                "address_line2": "dukes",
                "state": "qwert",
                "country": "usa",
                "postal_code": "000000",
                "city": "anti",
                "type": "billing",
                "default": true
            }
            }
          }
        },
        "responses": {
          "201": {
            "description": "adding address successful",
            "content": {
              "application/json ": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Address added successfully!"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json ": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "You do not have access to perform this API action"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example1": {
                    "value": {
                      "message": "There was an error while adding the address"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
      "type" : "object",
      "properties": {
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "address_line1": {
          "type": "string"
        },
        "address_line2": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Bearer Token"
      }
    }
  }
}
